VITE_SUPABASE_URL=https://soopgkjsapuraqvqwtly.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvb3Bna2pzYXB1cmFxdnF3dGx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMjg0MzIsImV4cCI6MjA5MzkwNDQzMn0.lwV6imHhQAFYWwPiV7PI2mnVZb_xsZLgmgwrQSkJes8
